.g5academy {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 38.2px;
    font-weight: 600;
    color: var(--color-midnightblue);
    display: inline-block;
    width: 308px;
    height: 45px;
  }
  .explore,
  .home,
  .search {
    position: absolute;
    top: 14px;
    left: 637px;
  }
  .explore,
  .search {
    left: 728px;
  }
  .explore {
    left: 832px;
  }
  .about-us,
  .feedback {
    position: absolute;
    top: 16px;
    left: 943px;
  }
  .about-us {
    left: 1076px;
  }
  .desktop-1-child,
  .frame-icon,
  .frame-icon1 {
    position: absolute;
    top: 64px;
    left: 0;
    width: 1260px;
    height: 5px;
    object-fit: contain;
  }
  .desktop-1-child,
  .frame-icon1 {
    top: 0;
    left: 713px;
    width: 1px;
    height: 69px;
  }
  .frame-icon1 {
    left: 814px;
    height: 64px;
  }
  .desktop-1-item {
    position: absolute;
    top: -0.5px;
    left: 927.5px;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1px;
    height: 65px;
  }
  .frame-icon2,
  .frame-icon3 {
    position: absolute;
    top: 0;
    left: 1063px;
    width: 1px;
    height: 64px;
    object-fit: contain;
  }
  .frame-icon3 {
    top: -1px;
    left: 1187px;
    height: 69px;
  }
  .desktop-1-inner {
    position: absolute;
    top: 12.5px;
    left: 1199.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 52px;
    height: 1px;
  }
  .frame-icon4,
  .frame-icon5,
  .frame-icon6,
  .line-icon {
    position: absolute;
    top: 32px;
    left: 1200px;
    width: 51px;
    height: 0.7px;
    object-fit: contain;
  }
  .frame-icon5,
  .frame-icon6,
  .line-icon {
    top: 49.9px;
    height: 1.1px;
  }
  .frame-icon6,
  .line-icon {
    top: 137px;
    left: 0;
    width: 1260px;
    height: 8px;
  }
  .line-icon {
    top: 145px;
    left: 238px;
    width: 3px;
    height: 643px;
  }
  .html {
    position: absolute;
    top: 172px;
    left: 71px;
    font-size: 32px;
  }
  .intro-to-html {
    position: absolute;
    top: 242px;
    left: 41px;
    font-weight: 300;
    white-space: pre-wrap;
    display: inline-block;
    width: 251px;
  }
  .html-elements,
  .html-tables,
  .input-types,
  .multimedia-and-embedding {
    position: absolute;
    top: 314px;
    left: 41px;
    font-weight: 300;
    display: inline-block;
    width: 251px;
  }
  .html-elements,
  .html-tables,
  .input-types {
    top: 403px;
  }
  .html-elements,
  .input-types {
    top: 475px;
  }
  .input-types {
    top: 623px;
  }
  .global-attributes,
  .inline-element {
    position: absolute;
    top: 697px;
    left: 41px;
    font-weight: 300;
  }
  .global-attributes {
    top: 549px;
    display: inline-block;
    width: 251px;
  }
  .rectangle-section {
    position: absolute;
    top: 144px;
    left: 236px;
    background-color: var(--color-midnightblue);
    width: 1024px;
    height: 644px;
  }
  .meaning-and-structure {
    position: absolute;
    top: 347px;
    left: 303px;
    font-size: var(--font-size-xl);
    color: var(--color-goldenrod);
    text-align: center;
  }
  .css1 {
    text-decoration: underline;
  }
  .css {
    color: inherit;
  }
  .javascript1 {
    text-decoration: underline;
  }
  .javascript {
    color: inherit;
  }
  .describe-a-web-container {
    position: absolute;
    top: 397px;
    left: 305px;
    font-size: var(--font-size-xl);
    color: var(--color-goldenrod);
    text-align: center;
  }
  .and-linking-it,
  .between-websites-links,
  .html-hypertext-markup-languag,
  .hypertext-refers-to {
    position: absolute;
    top: 475px;
    left: 292px;
    font-size: var(--font-size-xl);
    color: var(--color-goldenrod);
  }
  .and-linking-it,
  .between-websites-links,
  .html-hypertext-markup-languag {
    top: 596px;
    left: 297px;
  }
  .between-websites-links,
  .html-hypertext-markup-languag {
    top: 537px;
    left: 296px;
  }
  .html-hypertext-markup-languag {
    top: 298px;
    left: 303px;
  }
  .html-hypertext-markup {
    margin: 0;
    position: absolute;
    top: 191px;
    left: 429px;
    font-size: 36px;
    font-weight: 800;
    font-family: inherit;
    color: var(--color-goldenrod);
  }
  .frame,
  .frame1 {
    position: absolute;
    top: 177px;
    left: 252px;
    background-color: var(--color-mistyrose);
    width: 137px;
    height: 42px;
  }
  .frame1 {
    top: 181px;
    left: 1099px;
  }
  .next,
  .previous {
    position: absolute;
    font-weight: 800;
  }
  .previous {
    top: 185px;
    left: 277px;
    font-size: var(--font-size-xl);
    background: linear-gradient(#120a42, #120a42),
      linear-gradient(#120a42, #120a42), linear-gradient(#120a42, #120a42),
      linear-gradient(#120a42, #120a42), #120a42;

    -webkit-text-fill-color: transparent;
  }
  .next {
    top: 188px;
    left: 1135px;
    color: var(--color-midnightblue);
  }
  .desktop-1 {
    width: 100%;
    height: 788px;
    position: relative;
    background-color: #fff0e5;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }