.g5academy {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: var(--font-size-19xl-2);
    font-weight: 600;
    font-family: var(--font-inter);
    color: #120a42;
    text-align: left;
    display: inline-block;
    width: 308px;
    height: 45px;
  }
  .explore,
  .home,
  .search {
    position: absolute;
    top: 14px;
    left: 637px;
  }
  .explore,
  .search {
    left: 728px;
  }
  .explore {
    left: 832px;
  }
  .about-us,
  .feedback,
  .link-line-icon {
    position: absolute;
    top: 16px;
    left: 943px;
  }
  .about-us,
  .link-line-icon {
    left: 1076px;
  }
  .link-line-icon {
    top: 64px;
    left: 0;
    width: 1246px;
    height: 5px;
    object-fit: contain;
  }
  .desktop-1-child,
  .gacademy-title-icon {
    position: absolute;
    top: 0;
    left: 713px;
    width: 1px;
    height: 69px;
    object-fit: contain;
  }
  .gacademy-title-icon {
    left: 814px;
    height: 64px;
  }
  .join-learners-text {
    position: absolute;
    top: -0.5px;
    left: 927.5px;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1px;
    height: 65px;
  }
  .gacademy-title-icon1 {
    position: absolute;
    top: 0;
    left: 1063px;
    width: 1px;
    height: 64px;
    object-fit: contain;
  }
  .create-an-account {
    position: absolute;
    top: 100px;
    left: 437px;
    font-size: var(--font-size-19xl-2);
    font-weight: 800;
  }
  .join-other-learners {
    position: absolute;
    top: 192px;
    left: 332px;
    font-size: var(--font-size-13xl);
    font-weight: 300;
  }
  .gacademy-title,
  .gacademy-title1 {
    border: 1px solid var(--color-black);
    outline: 0;
    position: absolute;
    left: 425px;
    box-sizing: border-box;
    width: 377px;
    height: 51px;
  }
  .gacademy-title {
    background-color: #fffbfb;
    top: 327px;
  }
  .gacademy-title1 {
    background-color: var(--color-white);
    top: 473px;
  }
  .password,
  .username {
    position: absolute;
    top: 304px;
    left: 426px;
    font-size: var(--font-size-xl);
    font-weight: 300;
  }
  .password {
    top: 450px;
    left: 430px;
  }
  .forgot-password-text {
    position: absolute;
    top: 628px;
    left: 462px;
    border-radius: 20px;
    background-color: #062eff;
    width: 291px;
    height: 46px;
  }
  .log-in {
    position: absolute;
    top: 628px;
    left: 550px;
    font-size: var(--font-size-13xl);
    font-weight: 800;
    color: var(--color-white);
  }
  .forgot-password {
    position: absolute;
    top: 554px;
    left: 644px;
    font-weight: 500;
  }
  .desktop-1 {
    width: 100%;
    height: 788px;
    position: relative;
    background-color: #fff0e5;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }