.g5academy {
    width: 308px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .g5academy,
  .home {
    position: relative;
  }
  .frame-c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
  }
  .search {
    position: relative;
  }
  .search-line-explorefeedback-ab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
  }
  .search-line-explorefeedback-ab-child {
    width: 1px;
    flex: 1;
    position: relative;
    max-height: 100%;
    object-fit: contain;
  }
  .search-line-explorefeedback-ab1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8px 0 0;
  }
  .explore {
    position: relative;
  }
  .search-line-explorefeedback-ab2 {
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs) 0 0;
    box-sizing: border-box;
  }
  .vector-line {
    width: 1px;
    flex: 1;
    position: relative;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .email-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-8xs) 0 0;
  }
  .feedback {
    position: relative;
  }
  .search-line-explorefeedback-ab3 {
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-8xs) 0 0;
    box-sizing: border-box;
  }
  .search-line-explorefeedback-ab-item {
    width: 1px;
    flex: 1;
    position: relative;
    max-height: 100%;
    object-fit: contain;
  }
  .search-line-explorefeedback-ab4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs) 0 0;
  }
  .about-us {
    position: relative;
    white-space: nowrap;
  }
  .search-line-explorefeedback-ab5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
  }
  .feedback-container {
    align-items: center;
    justify-content: flex-start;
    gap: 0 9px;
  }
  .feedback-container,
  .frame-a,
  .frame-b,
  .home-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .home-text {
    align-items: center;
    justify-content: flex-start;
    gap: 0 27px;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
  }
  .frame-a,
  .frame-b {
    align-items: flex-start;
    box-sizing: border-box;
  }
  .frame-b {
    width: 1183px;
    justify-content: space-between;
    padding: 0 var(--padding-xl) 0 0;
    gap: 20px;
  }
  .frame-a {
    height: 64px;
    justify-content: flex-start;
    padding: 0 var(--padding-xs);
    font-size: var(--font-size-19xl-2);
    color: #120a42;
  }
  .desktop-1-child {
    width: 1px;
    height: 69px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 532px;
    object-fit: contain;
    z-index: 1;
  }
  .line-b-icon {
    height: 5px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: contain;
  }
  .rectangle-a {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 19px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .email {
    position: absolute;
    margin: 0 !important;
    top: 293px;
    left: 293px;
    font-weight: 300;
    z-index: 1;
  }
  .feedback-and-queries {
    position: relative;
    font-size: var(--font-size-19xl-2);
    font-weight: 800;
    display: inline-block;
    max-width: 100%;
  }
  .select-an-issue {
    position: relative;
    font-weight: 300;
    z-index: 1;
  }
  .write-your-feedback-query-rect {
    border: 1px solid var(--color-black);
    outline: 0;
    background-color: #fffbfb;
    align-self: stretch;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    min-width: 250px;
  }
  .select-an-issue-rectangle {
    width: 568px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 14px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .contact-rectangle {
    border: 1px solid var(--color-black);
    outline: 0;
    background-color: var(--color-white);
    width: 570px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
  }
  .contact {
    position: relative;
    font-weight: 300;
    z-index: 1;
  }
  .text-feedback-query {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 4px;
  }
  .feedback-rectangle {
    border: 1px solid var(--color-black);
    outline: 0;
    background-color: var(--color-white);
    align-self: stretch;
    height: 52px;
    position: relative;
    box-sizing: border-box;
    min-width: 250px;
  }
  .contact-frame {
    width: 568px;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .write-your-feedbackquery {
    position: relative;
    font-weight: 300;
    z-index: 1;
  }
  .issue-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-8xs);
  }
  .submit-feedback {
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
    height: 149px;
    width: auto;
    outline: 0;
    align-self: stretch;
    position: relative;
    box-sizing: border-box;
  }
  .main-menu {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 9px;
  }
  .send-email-child {
    height: 60px;
    width: 635px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-blue);
    display: none;
    max-width: 100%;
  }
  .submit {
    height: 36px;
    width: 123px;
    position: relative;
    font-size: 32px;
    font-weight: 800;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .send-email {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 223px;
    background-color: var(--color-blue);
    width: 635px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
  }
  .send-email:hover {
    background-color: #2b54ff;
  }
  .issue-select {
    align-self: stretch;
    align-items: flex-start;
    gap: 15px 0;
    max-width: 100%;
  }
  .desktop-1,
  .feedback-frame,
  .issue-select,
  .issue-selection-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .feedback-frame {
    align-self: stretch;
    align-items: flex-start;
    gap: 36px 0;
    max-width: 100%;
  }
  .desktop-1,
  .issue-selection-frame {
    box-sizing: border-box;
  }
  .issue-selection-frame {
    width: 700px;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
    gap: 46px 0;
    max-width: 100%;
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: #fff0e5;
    overflow: hidden;
    align-items: center;
    padding: 0 0 48px;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 850px) {
    .g5academy {
      font-size: var(--font-size-12xl);
    }
    .feedback-container {
      display: none;
    }
    .feedback-and-queries {
      font-size: var(--font-size-12xl);
    }
    .submit {
      font-size: 26px;
    }
    .issue-selection-frame {
      gap: 46px 0;
    }
  }
  @media screen and (max-width: 675px) {
    .feedback-frame {
      gap: 36px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .g5academy {
      font-size: var(--font-size-4xl);
    }
    .email {
      font-size: var(--font-size-base);
    }
    .feedback-and-queries {
      font-size: var(--font-size-4xl);
    }
    .contact,
    .select-an-issue,
    .write-your-feedbackquery {
      font-size: var(--font-size-base);
    }
    .submit {
      font-size: 19px;
    }
    .send-email {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }