.desktop-1-child {
    position: absolute;
    top: 64px;
    left: 0;
    width: 1260px;
    height: 5px;
    object-fit: contain;
  }
  .g5academy {
    width: 308px;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .g5academy,
  .home {
    position: relative;
  }
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-xs);
  }
  .frame-child {
    height: 69px;
    width: 1px;
    position: relative;
    object-fit: contain;
    z-index: 1;
  }
  .frame-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs) 0 0;
    gap: 0 12px;
  }
  .search {
    position: relative;
  }
  .search-t-e-x-t {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 7px;
  }
  .explore-t-e-x-t {
    height: 64px;
    width: 1px;
    position: relative;
    object-fit: contain;
  }
  .feedbackand-about-u-s {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px 0 0;
    gap: 0 9px;
  }
  .explore {
    position: relative;
  }
  .explore-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
  }
  .html-css-js-java-c-python-php {
    height: 64px;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .home-t-e-x-t {
    width: 291px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 12px;
  }
  .feedback {
    position: relative;
  }
  .frame-line-frame-frame-line {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) 0 0;
  }
  .frame-line-frame-frame-line1 {
    height: 64px;
    width: 1px;
    position: relative;
    object-fit: contain;
  }
  .about-us {
    position: relative;
    white-space: nowrap;
  }
  .frame-line-frame-frame-line2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) 0 0;
  }
  .frame-line-frame-frame-line3 {
    height: 69px;
    width: 1px;
    position: relative;
    object-fit: contain;
    z-index: 1;
  }
  .about-us-line {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 51px;
    height: 1px;
  }
  .feedback-frame-icon,
  .feedback-frame-icon1 {
    position: absolute;
    top: 19px;
    left: 0;
    width: 51px;
    height: 0.7px;
    object-fit: contain;
  }
  .feedback-frame-icon1 {
    top: 36.9px;
    height: 1.1px;
  }
  .search-bar-frame {
    align-self: stretch;
    height: 38px;
    position: relative;
  }
  .feedbackaboutus-f-r-a-m-e,
  .html-css-js-java-c-python-php1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .html-css-js-java-c-python-php1 {
    width: 51px;
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
    box-sizing: border-box;
  }
  .feedbackaboutus-f-r-a-m-e {
    flex: 1;
    flex-direction: row;
    padding: 0 var(--padding-11xs) 0 0;
    gap: 0 12px;
  }
  .g5academy-parent,
  .home-t-e-x-t-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .home-t-e-x-t-parent {
    width: 614px;
    justify-content: flex-start;
    gap: 0 15px;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
  }
  .g5academy-parent {
    position: absolute;
    top: -1px;
    left: 12px;
    width: 1239px;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: 38.2px;
    color: #120a42;
    font-family: var(--font-inter);
  }
  .desktop-1-item {
    position: absolute;
    top: 258px;
    left: 116px;
    border-radius: var(--br-xl);
    background-color: var(--color-lightcyan);
    width: 286px;
    height: 84px;
    display: none;
  }
  .language-frames-icon {
    align-self: stretch;
    height: 8px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .php-react-child {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightcyan);
    display: none;
  }
  .html {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 2;
  }
  .php-react {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) 109px var(--padding-smi) 71px;
    background-color: var(--color-lightcyan);
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .php-react:hover {
    background-color: var(--color-lightblue);
  }
  .java-script-c-child {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgoldenrodyellow-300);
    display: none;
  }
  .css {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .java-script-c {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) 25px var(--padding-smi) var(--padding-xl);
    background-color: var(--color-lightgoldenrodyellow-300);
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 186px;
  }
  .java-script-c:hover {
    background-color: #c2e6ba;
  }
  .tech-frames-child {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgoldenrodyellow-100);
    display: none;
  }
  .javascript {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .tech-frames {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) var(--padding-xl) var(--padding-smi) 33px;
    background-color: var(--color-lightgoldenrodyellow-100);
    flex: 0.9668;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    min-width: 186px;
  }
  .tech-frames:hover {
    background-color: #dee6ba;
  }
  .css-c,
  .php-react-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .css-c {
    width: 656px;
    justify-content: center;
    gap: 0 84px;
  }
  .php-react-frame {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-item {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-mistyrose);
    display: none;
  }
  .java {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-53xl) var(--padding-sm);
    background-color: var(--color-mistyrose);
    width: 286px;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent:hover {
    background-color: var(--color-pink);
  }
  .c,
  .frame-inner {
    position: relative;
  }
  .frame-inner {
    height: 84px;
    width: 286px;
    border-radius: var(--br-xl);
    background-color: var(--color-thistle-100);
    display: none;
  }
  .c {
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .rectangle-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mid) 100px var(--padding-4xs) var(--padding-73xl);
    background-color: var(--color-thistle-100);
    flex: 0.3837;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    min-width: 186px;
  }
  .rectangle-group:hover {
    background-color: #d1bae6;
  }
  .rectangle-div {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgoldenrodyellow-200);
    display: none;
  }
  .c1 {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .rectangle-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 21px var(--padding-sm) var(--padding-xl);
    background-color: var(--color-lightgoldenrodyellow-200);
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 186px;
  }
  .rectangle-container:hover {
    background-color: #c4e6ba;
  }
  .frame-group,
  .language-frames2,
  .php-react-frame1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 658px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 86px;
  }
  .language-frames2,
  .php-react-frame1 {
    align-self: stretch;
  }
  .php-react-frame1 {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .language-frames2 {
    flex-direction: column;
    justify-content: flex-start;
    gap: 52px 0;
  }
  .python-php-react-js-child {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightgoldenrodyellow-400);
    display: none;
  }
  .python {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .python-php-react-js {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 47px var(--padding-sm) var(--padding-53xl);
    background-color: var(--color-lightgoldenrodyellow-400);
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .python-php-react-js:hover {
    background-color: #bae6ba;
  }
  .java-script-c-item {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-mistyrose);
    display: none;
  }
  .php {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .java-script-c1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mid) 103px var(--padding-4xs) var(--padding-73xl);
    background-color: var(--color-mistyrose);
    flex: 0.7459;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    min-width: 186px;
  }
  .java-script-c1:hover {
    background-color: var(--color-pink);
  }
  .java-script-c-inner {
    height: 84px;
    width: 286px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-lightcyan);
    display: none;
  }
  .react {
    position: relative;
    font-size: var(--font-size-29xl);
    font-family: var(--font-inter);
    background: linear-gradient(#161515, #161515),
      linear-gradient(#161515, #161515), linear-gradient(#161515, #161515),
      #161515;
    -webkit-text-fill-color: transparent;
    text-align: left;
    z-index: 1;
  }
  .java-script-c2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 67px var(--padding-sm) 97px;
    background-color: var(--color-lightcyan);
    flex: 1;
    border-radius: var(--br-xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 186px;
  }
  .java-script-c2:hover {
    background-color: var(--color-lightblue);
  }
  .python-react,
  .tech-stack-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .python-react {
    width: 658px;
    justify-content: flex-start;
    gap: 0 86px;
  }
  .tech-stack-frame {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .language-frames1 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 76px 0;
  }
  .html-css-js-frame,
  .language-frames,
  .language-frames1 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .language-frames {
    width: 1090px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 31px;
    box-sizing: border-box;
  }
  .html-css-js-frame {
    position: absolute;
    top: 137px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 113px 0;
  }
  .html-css-js {
    position: absolute;
    top: 90px;
    left: 174px;
    font-weight: 500;
    white-space: pre-wrap;
  }
  .desktop-1 {
    width: 100%;
    height: 788px;
    position: relative;
    background-color: #fff0e5;
    overflow: hidden;
    letter-spacing: normal;
    text-align: center;
    font-size: 32px;
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1050px) {
    .language-frames1 {
      gap: 76px 0;
    }
  }
  @media screen and (max-width: 1000px) {
    .feedbackaboutus-f-r-a-m-e {
      display: none;
    }
    .home-t-e-x-t-parent {
      width: 306px;
    }
    .css,
    .html,
    .javascript {
      font-size: var(--font-size-19xl);
    }
    .php-react-frame {
      flex-wrap: wrap;
    }
    .c,
    .c1,
    .java {
      font-size: var(--font-size-19xl);
    }
    .php-react-frame1 {
      flex-wrap: wrap;
    }
    .php,
    .python,
    .react {
      font-size: var(--font-size-19xl);
    }
    .tech-stack-frame {
      flex-wrap: wrap;
    }
    .html-css-js {
      font-size: 26px;
    }
    .desktop-1 {
      height: auto;
      min-height: 788;
    }
  }
  @media screen and (max-width: 725px) {
    .css-c,
    .frame-group {
      flex-wrap: wrap;
      gap: 0 84px;
    }
    .frame-group {
      gap: 0 86px;
    }
    .language-frames2 {
      gap: 52px 0;
    }
    .python-react {
      flex-wrap: wrap;
      gap: 0 86px;
    }
    .language-frames1 {
      gap: 76px 0;
    }
    .html-css-js-frame {
      gap: 113px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .html {
      font-size: var(--font-size-10xl);
    }
    .php-react {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .css,
    .javascript {
      font-size: var(--font-size-10xl);
    }
    .tech-frames {
      flex: 1;
    }
    .css-c {
      gap: 0 84px;
    }
    .c,
    .java {
      font-size: var(--font-size-10xl);
    }
    .rectangle-group {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .c1 {
      font-size: var(--font-size-10xl);
    }
    .frame-group {
      gap: 0 86px;
    }
    .python {
      font-size: var(--font-size-10xl);
    }
    .python-php-react-js {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .php {
      font-size: var(--font-size-10xl);
    }
    .java-script-c1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
      flex: 1;
    }
    .react {
      font-size: var(--font-size-10xl);
    }
    .java-script-c2 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .python-react {
      gap: 0 86px;
    }
    .html-css-js-frame {
      gap: 113px 0;
    }
    .html-css-js {
      font-size: 19px;
    }
  }