.g5academy {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: var(--font-size-19xl-2);
    font-weight: 600;
    font-family: var(--font-inter);
    color: #120a42;
    text-align: left;
    display: inline-block;
    width: 308px;
    height: 45px;
  }
  .explore,
  .home,
  .search {
    position: absolute;
    top: 14px;
    left: 637px;
  }
  .explore,
  .search {
    left: 728px;
  }
  .explore {
    left: 832px;
  }
  .about-us,
  .feedback {
    position: absolute;
    top: 16px;
    left: 943px;
  }
  .about-us {
    left: 1076px;
  }
  .feedback-link-line {
    position: absolute;
    top: 64px;
    left: 0;
    width: 1246px;
    height: 5px;
    object-fit: contain;
  }
  .desktop-1-child,
  .gacademy-label-icon {
    position: absolute;
    top: 0;
    left: 713px;
    width: 0;
    height: 69px;
    object-fit: contain;
  }
  .gacademy-label-icon {
    left: 814px;
    width: 1px;
    height: 64px;
  }
  .user-input-area {
    position: absolute;
    top: -0.5px;
    left: 927.5px;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1px;
    height: 65px;
  }
  .gacademy-label-icon1 {
    position: absolute;
    top: 0;
    left: 1063px;
    width: 1px;
    height: 64px;
    object-fit: contain;
  }
  .create-an-account {
    position: absolute;
    top: 100px;
    left: 437px;
    font-size: var(--font-size-19xl-2);
    font-weight: 800;
  }
  .join-other-learners {
    position: absolute;
    top: 192px;
    left: 332px;
    font-size: var(--font-size-13xl);
    font-weight: 300;
  }
  .gacademy-label,
  .gacademy-label1,
  .gacademy-label2 {
    border: 1px solid var(--color-black);
    outline: 0;
    position: absolute;
    left: 425px;
    box-sizing: border-box;
    width: 377px;
    height: 51px;
  }
  .gacademy-label {
    background-color: #fffbfb;
    top: 327px;
  }
  .gacademy-label1,
  .gacademy-label2 {
    background-color: var(--color-white);
    top: 435px;
  }
  .gacademy-label2 {
    top: 543px;
  }
  .email,
  .password,
  .username {
    position: absolute;
    top: 304px;
    left: 426px;
    font-size: var(--font-size-xl);
    font-weight: 300;
  }
  .email,
  .password {
    top: 417px;
  }
  .password {
    top: 520px;
    left: 430px;
  }
  .by-signing-up,
  .privacy-policy,
  .to-g5academys-terms {
    margin: 0;
  }
  .by-signing-up-container {
    position: absolute;
    top: 686px;
    left: 418px;
    font-size: 16px;
    font-weight: 300;
  }
  .account-form-container {
    position: absolute;
    top: 629px;
    left: 468px;
    border-radius: 20px;
    background-color: #062eff;
    width: 291px;
    height: 46px;
  }
  .sign-up {
    position: absolute;
    top: 629px;
    left: 556px;
    font-size: var(--font-size-13xl);
    font-weight: 800;
    color: var(--color-white);
  }
  .desktop-1 {
    width: 100%;
    height: 788px;
    position: relative;
    background-color: #fff0e5;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }